@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 800;
    background-size: cover;
    background-repeat: repeat;
    background-image: url("../images/background-image.jpg");
    width: 100vw;
    height: auto;
    color: #ffffff;
    background-color: #cfe3f5;
    display: flex;
    flex-direction: column;
    position: absolute;
}

header {
    padding: 1rem 1rem;
    max-width: 800px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: Nunito, sans-serif;
    text-decoration: none;
    font-weight: 800;
    color: #6473b7;
    font-size: 1.2rem;
}

/*  logo  */

#logo {
    font-size: 280%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 50px;
    color: #6473b7;
    padding-bottom: 30px;
}

#logo a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

/*  button  */
button {
    background-color: #7282cc;
    font-family: Nunito, sans-serif;
    border-radius: 16px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
    color: #ffffff;
    font-weight: 700;
    transition: all 0.2s;
    font-size: 0.875em;
    min-width: 40px;
    max-width: 100px;
    cursor: pointer;
}

/*  form  */
.content-form {
    justify-content: center;

}

.form-container {
    top: 50%;
    left: 50%;
    margin: 0 auto;
    justify-content: center;
    background-color: #f8ebb9;
    border-radius: 10px;
    min-height: 160px;
    width: 70vw;
    max-width: 620px;
    min-width: 300px;
    flex-direction: column;
    position: inherit;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: -20px;

}

#to-do-form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#addtaskField {
    font-family: Nunito, sans-serif;
    font-weight: 700;
    color: #7282cc;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    width: 70vw;
    max-width: 620px;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
}

#addtaskField::placeholder {
    font-family: Nunito, sans-serif;
    font-weight: 700;
    color: #8f9ddb;
    font-size: 0.8rem;
}

#add-task-submit {
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    background-color: #7282cc;
    color: #ffffff;
    font-weight: 700;
}

ul li:hover {
    background-color: #d0d7fa;
    border-radius: 10px;
    width: 100%;
}

span {
    font-family: Nunito, sans-serif;
    font-weight: 700;
    color: #7282cc;

}


span li:hover {
    font-family: Nunito, sans-serif;
    font-weight: 700;
    background-color: #e0d198;

}

.button {
    background-color: #7282cc;
    font-family: Nunito, sans-serif;
    border-radius: 16px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
    color: #ffffff;
    font-weight: 700;
    transition: all 0.2s;
    font-size: 0.675em;
    width: 100%;
    min-width: 30px;
    max-width: 100px;
    cursor: pointer;

}

#todoList {
    color: #5364b2;
    list-style: none;
}


#todoList,
h2 {
    color: #7282cc;
    margin-top: 15px;

}

#todoList li {
    margin-bottom: 10px;
}

#todoList span {
    padding-right: 30px;
}

input[type="checkbox"i] {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 4px;
}

.fa-solid {
    float: right;
    margin-top: 3px;
}
/*   media querie for smartphone  */
@media (max-width: 480px) {
    body {
        background-image: url('/assets/images/mobile-background-compressed.png');
        background-repeat:no-repeat;
    }
}
/*   media querie for tablet  */
@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-image: url('/assets/images/tablet-background-compressed.png');
        background-repeat:no-repeat;
    }
}