@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 800;
    background-size: cover;
    background-image: url("/assets/images/background-image.jpg");
    width: auto;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
padding: 2rem 1rem;
max-width: 800px;
width: 100%;
margin: 0 auto;
}

h1, h2 {
    font-family: Nunito, sans-serif;
    text-decoration: none;
    font-weight: 800;
}

/*  logo  */

#logo {
font-size: 280%;
display: flex;
justify-content: center;
text-decoration: none;
padding-top: 50px;
color: #6473b7;
padding-bottom: 30px;
}

#logo a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

/*  button  */
button {
    background-color: #7282cc;
    font-family: Nunito, sans-serif;
    border-radius: 16px;
    margin: 10px, 10px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
    color: #ffffff;
    font-weight: 700;
    transition: all 0.2s;
    font-size: 0.775em;
    width: 80%;
    min-width: 40px;
    max-width: 100px;
}

/*  form  */

.form-container {
    background-color: #f8ebb9;
    border-radius: 10px;
    min-width: 370px;
    min-height: 100px;
    justify-content: center;

}

#to-do-form {
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#add-task-field {
    font-family: Nunito, sans-serif;
    font-weight: 700;
    color: #7282cc;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    width: 90%;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
}

#add-task-field::placeholder {
    font-family: Nunito, sans-serif;
    font-weight: 700;
    color: #8f9ddb;
}
#add-task-submit {
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    background-color: #7282cc;
    color: #ffffff;
    font-weight: 800;
}

#task-submissions {
    color: #7282cc;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    width: 90%;
}

.task-submissions {
    color: #7282cc;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    width: 90%;
}

.task-submissions span {
    font-family: Nunito, sans-serif;
    font-weight: 700;
    color: #7282cc;

}

.task-submissions button {
    background-color: #7282cc;
    font-family: Nunito, sans-serif;
    border-radius: 16px;
    margin: 10px, 10px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
    color: #ffffff;
    font-weight: 700;
    transition: all 0.2s;
    font-size: 0.775em;
    width: 40px;
    min-width: 40px;
    max-width: 100px;

}